body {
  margin: 0;
  padding: 0;
}

.wrapper_header {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 100%;
  height: 12.5vh;
  border-bottom: #f0f2f1 1px solid;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato', sans-serif;
  color: #343539;
}

.pannel {
  width: 50%;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: bold;
  font-size: 18px;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 16px;
}

.wrapper_loginside {
  width: 74%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .wrapper_loginside {
    width: 90%;
  }
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginside {
  margin-top: 18vh;
  width: 100%;
  height: 55vh;
  -webkit-box-shadow: 0 10px 20px #e0dfdf;
          box-shadow: 0 10px 20px #e0dfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .loginside {
    margin-top: 20vh;
  }
}

.photo_loginside {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .photo_loginside {
    display: none;
  }
}

.userpannel_loginside {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.welcome_text {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #00d573;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 10%;
}

input[type=text], input[type=password] {
  border: 0;
  height: 5vh;
  width: 90%;
  border-radius: 35px;
  padding: 5px 0 5px 25px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  -webkit-box-shadow: 0 6px 15px #cfcfcf;
          box-shadow: 0 6px 15px #cfcfcf;
  font-weight: 500;
  color: #5e5e5e;
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  input[type=text], input[type=password] {
    width: 100%;
  }
}

.login_signin {
  margin-bottom: 2vh;
}

.passwd_signin {
  margin-bottom: 5vh;
}

.form_loginside_container {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_loginside, .form_forgot {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn_send {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 4%;
  margin-bottom: -30px;
  border: 0;
  background-color: #00d573;
  border-radius: 30px;
  color: #fff;
  width: 25%;
  height: 6vh;
  font-size: 17px;
  z-index: 100;
  font-family: 'Lato', sans-serif;
}

.btn_send:hover {
  cursor: pointer;
}

.btn_send:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .btn_send {
    width: 55%;
    margin-right: -5%;
  }
}

@media only screen and (max-width: 370px) {
  .btn_login {
    width: 47%;
  }
}

.forgot_password {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.btn_forgot {
  margin-left: 6%;
  text-decoration: none;
  color: #818181;
  font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 768px) {
  .btn_forgot {
    font-size: 13px;
  }
}

@media only screen and (max-width: 320px) {
  .btn_forgot {
    width: 20%;
  }
}

.forgot_passwd_input_container {
  height: 40%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  .forgot_password_text {
    margin-bottom: -3%;
  }
}

@media only screen and (max-width: 620px) {
  .forgot_password_text {
    margin-bottom: -7%;
  }
}

.btn_send_forgot {
  margin: 5% 0 0 4%;
}

.footer {
  width: 100%;
  height: 8vh;
  border-top: #f0f2f1 1px solid;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato', sans-serif;
  color: #343539;
}

.wrapper_footer {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper_main {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teacher_info {
  margin-top: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 620px) {
  .teacher_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.teacher_showcase {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teacher_photo_case {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teacher_photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.teacher_text {
  font-family: 'Lato', sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #343539;
  font-size: 13px;
  line-height: 1.6;
}

.welcome_text_teacher {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  width: 100%;
  color: #00d573;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 3vh;
}

.course_case {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20vh 0 4vh 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 850px) {
  .course_case {
    width: 100%;
  }
}

@media only screen and (max-width: 620px) {
  .course_case {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 10vh 0 4vh 0;
  }
}

.course {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Lato', sans-serif;
  color: #343539;
  border: 1px solid #f0f2f1;
  border-top: 0;
  margin: 10px 3px 20px 3px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.course:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .course {
    width: 48%;
    border: none;
  }
}

@media only screen and (max-width: 620px) {
  .course {
    width: 100%;
    text-align: justify;
  }
}

.cousre_image {
  width: 100px;
  height: 100px;
}

.course_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: bolder;
  font-size: 22px;
  margin: 3vh 0 3vh 0;
}

.course_description {
  width: 80%;
  font-size: 15px;
  word-spacing: 5px;
  line-height: 25px;
}

@media only screen and (max-width: 768px) {
  .course_description {
    width: 100%;
    line-height: auto;
  }
}

.wrapper_settings {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings {
  width: 100%;
  margin: 10vh 0 10vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .settings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.case_settings {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_settings {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.margin_deleter {
  margin: 0;
}

.sizer_settings {
  width: 35%;
}

@media only screen and (max-width: 768px) {
  .sizer_settings {
    width: 100%;
  }
}

.setting_title {
  font-family: 'Lato', sans-serif;
  color: #343539;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.broker {
  width: 100%;
  justify-self: flex-start;
}

.password_settings, .login_settings, .website_settings, .logo_settings {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3vh 0 3vh 0;
}

@media only screen and (max-width: 768px) {
  .logo_settings, .website_settings {
    display: none;
  }
}

.btn_send_settings {
  border: 0;
  background-color: #00d573;
  border-radius: 50%;
  color: #fff;
  height: 30px;
  width: 50px;
  font-size: 17px;
  z-index: 100;
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
}

.btn_send_settings:hover {
  cursor: pointer;
}

.btn_send_settings:focus {
  outline: none;
}

.info {
  position: absolute;
  top: -15px;
  left: -10px;
  font-size: 8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00d573;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info:hover {
  cursor: pointer;
}

.info_notification {
  position: absolute;
  top: -20px;
  left: 20px;
  font-size: 11px;
  background: #00d573;
  width: 30vh;
  border-radius: 30px;
  padding: 4px;
  font-family: 'Lato', sans-serif;
  display: none;
}

.info:hover .info_notification {
  display: block;
}

.upload-field-customized {
  width: 70%;
  height: 6vh;
  background: #00d573;
  position: relative;
  cursor: pointer;
  border-radius: 30px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-field-customized input[type="file"] {
  position: absolute;
  width: 100%;
  height: 50px;
  opacity: 0;
  cursor: pointer;
  left: 0px;
  top: 0px;
  z-index: 10;
}

.upload-field-customized span {
  text-align: center;
  width: 100%;
  display: block;
  height: 50px;
  line-height: 50px;
}

.file_view {
  width: 25%;
  height: 6vh;
  border: 1px solid black;
}

.sizer_button_upload {
  width: 15%;
}

@media only screen and (max-width: 1200px) {
  .sizer_button_upload {
    width: 20%;
  }
}

@media only screen and (max-width: 850px) {
  .sizer_button_upload {
    width: 25%;
  }
}

.justifier_top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 768px) {
  .justifier_top {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
}

.fixed_bot {
  position: absolute;
  bottom: 0;
  left: 0;
}

.course_wrapper {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  .course_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.courses_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15%;
}

@media only screen and (max-width: 768px) {
  .courses_menu {
    width: 100%;
  }
}

.title {
  width: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #343539;
}

ol {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  color: #343539;
  margin-top: 0;
  padding-left: 0;
}

.lesson_name {
  font-size: 18px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.checked {
  color: #00d573;
}

.lesson_main {
  width: 85%;
}

@media only screen and (max-width: 768px) {
  .lesson_main {
    width: 100%;
  }
}

.title_lesson {
  border-bottom: #f0f2f1 1px solid;
  width: 100%;
  padding: 20px;
  padding-right: 0;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #343539;
}

@media only screen and (max-width: 768px) {
  .title_lesson {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.lesson_description {
  padding: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #343539;
  border-bottom: #f0f2f1 1px solid;
}

.files_download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #343539;
}

.file-db {
  margin-left: 2%;
}

.lesson_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

iframe {
  width: 80%;
  height: 70vh;
}

.main-grid {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (10%)[10];
      grid-template-rows: repeat(10, 10%);
  font-family: 'Lato', sans-serif;
}

.title-grid-container {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 2/2/2/5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-grid {
  font-size: 40px;
}

@media only screen and (max-width: 620px) {
  .title-grid {
    font-size: 28px;
  }
}

@media only screen and (max-width: 370px) {
  .title-grid {
    font-size: 23px;
  }
}

.description {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 4/2/5/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 620px) {
  .description {
    font-size: 15px;
  }
}

@media only screen and (max-width: 370px) {
  .description {
    font-size: 12px;
  }
}

.sh-mockups {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 5/3/6/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navi-grid {
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 6/2/9/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links-list {
  list-style-type: none;
}

.link {
  margin: 15px 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-grid-nav {
  text-decoration: none;
  color: #000;
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */